body {
    background-color: #121212;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main {
    display: flex;
    padding-top: 10px;
}

button {
    background-color: white;
    border: 1px solid black;
    padding: 8px 15px 8px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.button-primary {
    background-color: #264653;
    color: white;
}

.button-primary:hover {
    background-color: #1c353e;
}

button:hover {
    background-color: rgb(226, 224, 224);
}

.kanban-settings-button {
    padding: 8px;
}

.kanban-settings-button::before {
    font-family: 'FontAwesome';
    content: '\f013';
    color: #181818;
}

/* Kanban board */
.kanban-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.kanban-header-title {
    color: #ffffff;
    margin: 0px;
}

.kanban-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.kanban-column {
    background-color: #181818;
    border: 1px solid #282828;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px;
    border-radius: 4px;
}

.experiment-card {
    background-color: #282828;
    padding: 10px;
    border-radius: 3px;
    border-top: 2px solid #ffffff;
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
}

.experiment-card:active {
    cursor: grabbing;
}

.experiment-card.dragging {
    opacity: 0.5;
    /* transform: scale(0.8); */
}

.kanban-column-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kanban-column-button::before {
    font-family: 'FontAwesome';
    content: '\2b';
    color: #b3b3b3;
    vertical-align: sub;
}

.kanban-column-button:hover:before {
    color: #264653;
}

.kanban-column-title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.kanban-column-number {
    color: #333333;
    font-size: 0.8em;
}

.experiment-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffffff;
}

.experiment-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #b3b3b3;
}

/* Modals */

#experiment-description {
    font-family: inherit;
}

dialog {
    border: none;
    min-width: 400px;
    background-color: #181818;
}

dialog>* {
    color: #ffffff;
}

form>* {
    margin-top: 15px;
}

form>label {
    color: #b3b3b3;
}

form>input,
textarea,
select {
    border: none;
    background-color: #404040;
}

form > label {
    font-size: 0.9rem;
}

dialog::backdrop {
        background: rgba(0, 0, 0, 0.8);
}

form > input::placeholder, textarea::placeholder, select::placeholder {
    font-size: 0.8rem;
    font-family: inherit;
}

.add-experiment-form > input, textarea, select {
    display: block;
    margin: 8px 0 15px 0;
    padding: 10px;
    background: none;
    border: 1px solid #282828;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.settings-add-status-form > input {
    padding: 10px;
    background: none;
    border: 1px solid #282828;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.settings-add-status-form {
    display: grid;
    grid-template-columns: [first] 75% [two] 20%;
    gap: 15px;
    padding: 5px;
}

.kanban-settings-modal>form>* {
    margin-top: 0px;
}

dialog>h2 {
    margin: 0px;
    margin-bottom: 20px;
    color: #ffffff;
}

.settings-delete-status-button {
    padding: 3px 8px 3px 8px;
    font-size: 10px;
    background-color: #E76F51;
    border: none;
    max-width: 20px;
    justify-self: flex-end;
}

.settings-add-status-button {
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    background-color: #2A9D8F;
    border: none;
}

.workflow-list {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.drop {
    border: 2px dashed #404040;
}

.workflow-list-card {
    display: grid;
    grid-template-columns: [first] 1% [two] 60% [three] 25%;
    gap: 15px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    cursor: grab;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 3px;
    margin: 5px;
    background-color: #282828;
}

.workflow-list-card::before {
    font-family: 'FontAwesome';
    content: '\f58e';
    color: #b3b3b3;
}

.workflow-list-card:active {
    cursor: grabbing;
}

.workflow-list-card>div {
    pointer-events: none;
}

.workflow-list-card.dragging {
    opacity: 0.5;
    /* transform: scale(0.8); */
}

.kanban-settings-close {
    margin-top: 15px;
}

/* Footer */
footer {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    color: #282828;
}